.title{

    right:100px;
    left:0;
    color: black;
    
}
.bigTitle{

    
    font-size: xx-large;
    color: rgb(90, 158, 221);
}
.tinyTitle{
 
   
 
    color: black;
    font-size: medium;
}
nav{
    background-color: white;
}
